<p class = "nestedItem-title">
  {{this.item.name}}
</p>

<DragSortList
  @items         = {{this.item.children}}
  @group         = {{this.group}}
  @dragEndAction = {{this.dragEndAction}}
  as |child|
>
  <NestedItem
    @item          = {{this.child}}
    @group         = {{this.group}}
    @dragEndAction = {{this.dragEndAction}}
  />
</DragSortList>
