{{#each items as |item index|}}
  {{#drag-sort-item
    item                            = item
    index                           = index
    items                           = items
    group                           = group
    class                           = childClass
    tagName                         = childTagName
    draggingEnabled                 = draggingEnabled
    dragEndAction                   = dragEndAction
  }}
    {{yield item index}}
  {{/drag-sort-item}}
{{/each}}

{{!--
<p>
  isDragging: {{isDragging}},
  isExpanded: {{isExpanded}},
  isEmpty: {{isEmpty}},
  isOnlyElementDragged: {{isOnlyElementDragged}},
  items.length: {{items.length}},
  eq: {{eq items sourceList}},
  sourceIndex: {{sourceIndex}},
</p>
--}}