{{fork-me "https://github.com/kaliber5/ember-drag-sort/"}}

<h1>ember-drag-sort demo</h1>

<p>
  See

  <a href="https://github.com/kaliber5/ember-drag-sort/blob/gen-0/tests/dummy/app/templates/index.hbs">
    {{~concat~}}
    demo template source
    {{~concat~}}
  </a>

  and

  <a href="https://github.com/kaliber5/ember-drag-sort/blob/gen-0/tests/dummy/app/controllers/index.js">
    {{~concat~}}
    demo controller source
    {{~concat~}}
  </a>.
</p>



<div class="list-groups">

  <div class="list-group-wrapper">
    <h2>Simple usage</h2>

    <p>
      Sort lists, drag between lists. Won't let you drag items from/to other groups.
    </p>

    <section class="list-group">
      <article class="list">
        <h4>List 1</h4>

        {{#drag-sort-list
          items         = items1
          dragEndAction = (action 'dragEnd')
          as |item|
        }}
          <div class="the-item">
            {{item.name}}
          </div>
        {{/drag-sort-list}}
      </article>

      <article class="list">
        <h4>List 2 with drag handles</h4>

        {{#drag-sort-list
          items         = items2
          handle        = '.handle'
          dragEndAction = (action 'dragEnd')
          as |item|
        }}
          <div class="the-item">
            <span class="handle" draggable="true">☰</span>
            {{item.name}}
          </div>
        {{/drag-sort-list}}
      </article>
    </section>
  </div>



  <div class="list-group-wrapper">
    <h2>Async action</h2>

    <p>
      Uses async action, driven by <a href="http://ember-concurrency.com/">ember-concurrency</a>.

      See <a href="https://github.com/kaliber5/ember-drag-sort/blob/gen-1/tests/dummy/app/controllers/index.js#L158-L177">task source</a>.
    </p>

    <p>
      <label>
        {{input type="checkbox" checked=networkFailure}}
        Simulate network failure.
      </label>
    </p>


    <p>
      Status:

      {{#if dragEndTask.isRunning}}
        Updating...
      {{else if dragEndTask.last.error}}
        {{dragEndTask.last.error.message}}
      {{else}}
        Idle.
      {{/if}}
    </p>

    <section class="list-group">
      <article class="list">
        <h4>List 3</h4>

        {{#drag-sort-list
          items           = items3
          group           = 2
          draggingEnabled = dragEndTask.isIdle
          dragEndAction   = (action (perform dragEndTask))
          as |item|
        }}
          <div class="the-item">
            {{item.name}}
          </div>
        {{/drag-sort-list}}
      </article>


      <article class="list">
        <h4>List 4</h4>

        {{#drag-sort-list
          items           = items4
          group           = 2
          draggingEnabled = (not dragEndTask.isRunning)
          dragEndAction   = (action (perform dragEndTask))
          as |item|
        }}
          <div class="the-item">
            {{item.name}}
          </div>
        {{/drag-sort-list}}
      </article>
    </section>
  </div>
</div>


<div class="list-groups">

  <div class="list-group-wrapper">
    <h2>Unsortable list</h2>

    <p>
      Use `determineForeignPositionAction` to prevent user from rearranging a list, while still letting them drag in and out of the list
    </p>

    <section class="list-group">
      <article class="list">
        <h4>List 5 (always sorted alphabetically)</h4>

        {{#drag-sort-list
          items = items5
          group = 3

          dragEndAction                  = (action 'dragEnd')
          determineForeignPositionAction = (action 'determineForeignPosition')
          as |item|
        }}
          <div class="the-item">
            {{item.name}}
          </div>
        {{/drag-sort-list}}
      </article>

      <article class="list">
        <h4>List 6 (sorted by user)</h4>

        {{#drag-sort-list
          items                           = items6
          group                           = 3
          dragEndAction                   = (action 'dragEnd')
          as |item|
        }}
          <div class="the-item">
            {{item.name}}
          </div>
        {{/drag-sort-list}}
      </article>
    </section>
  </div>

  <div class="list-group-wrapper">
    <h2>Create copies of items by dragging out, delete by dragging in</h2>

    <p>
      Drag out of source list to create copies of items. Drag back into the source list to remove copies. The source list can't be modified.
    </p>

    <section class="list-group">
      <article class="list">
        <h4>List 7 (source, always sorted alphabetically)</h4>

        {{#drag-sort-list
          items = items7
          group = 4

          dragEndAction                  = (action 'dragEnd2')
          determineForeignPositionAction = (action 'determineForeignPosition2')
          as |item|
        }}
          <div class="the-item">
            {{item.name}}
          </div>
        {{/drag-sort-list}}
      </article>

      <article class="list">
        <h4>List 8 (target, sorted by user)</h4>

        {{#drag-sort-list
          items         = items8
          group         = 4
          dragEndAction = (action 'dragEnd2')
          as |item|
        }}
          <div class="the-item">
            {{item.name}}
          </div>
        {{/drag-sort-list}}
      </article>

      <article class="list">
        <h4>List 9 (target, sorted by user)</h4>

        {{#drag-sort-list
          items         = items9
          group         = 4
          dragEndAction = (action 'dragEnd2')
          as |item|
        }}
          <div class="the-item">
            {{item.name}}
          </div>
        {{/drag-sort-list}}
      </article>
    </section>
  </div>



  <div class="list-group-wrapper">
    <h2>Tables</h2>

    <p>
      ember-drag-sort uses a simple CSS technique to render the placeholder: `:before` and `:after` pseudoelements.
    </p>

    <p>
      Unfortunately, this doesn't work with HTML tables because table semantics are very restrictive. To work around this problem, top/bottom padding on table cells can be used instead of selectors.
    </p>

    <p>
      This is not a great solution because padding appears <em>inside</em> table cells. If you want your cells to have borders, you'll have to apply them to inner elements instead.
    </p>

    <p>
      See <a href="https://github.com/kaliber5/ember-drag-sort/blob/gen-0/tests/dummy/app/styles/app.css#L126-L159">style overrides of this demo.</a>
    </p>

    <section class="list-group">
      <article class="list">
        <h4>Table 1</h4>

        {{#drag-sort-list
          items         = items10
          tagName       = 'table'
          childTagName  = 'tr'
          group         = 'table'
          dragEndAction = (action 'dragEnd')
          as |item|
        }}
          <td>
            <div class="the-item">
              {{item.name}}
            </div>
          </td>
        {{/drag-sort-list}}
      </article>

      <article class="list">
        <h4>Table 2</h4>

        {{#drag-sort-list
          items         = items11
          tagName       = 'table'
          childTagName  = 'tr'
          group         = 'table'
          dragEndAction = (action 'dragEnd')
          as |item|
        }}
          <td>
            <div class="the-item">
              {{item.name}}
            </div>
          </td>
        {{/drag-sort-list}}
      </article>
    </section>
  </div>
</div>


<div class="list-group-wrapper">
  <h2>Nested list</h2>

  <p>
    See
    <a href="https://github.com/kaliber5/ember-drag-sort/blob/gen-0/tests/dummy/app/templates/components/nested-item.hbs">
      {{~concat~}}
      component template source
      {{~concat~}}
    </a>.
  </p>

  {{nested-item
    item          = nestedItem
    dragEndAction = (action 'dragEnd')
  }}
</div>
