{{fork-me "https://github.com/kaliber5/ember-drag-sort/"}}

<h1>ember-drag-sort demo</h1>

<p>
  See

  <a href="https://github.com/kaliber5/ember-drag-sort/blob/gen-0/tests/dummy/app/templates/index.hbs">
    {{~concat~}}
    demo template source
    {{~concat~}}
  </a>

  and

  <a href="https://github.com/kaliber5/ember-drag-sort/blob/gen-0/tests/dummy/app/controllers/index.js">
    {{~concat~}}
    demo controller source
    {{~concat~}}
  </a>.
</p>



<div class="list-groups">

  <div class="list-group-wrapper">
    <h2>Simple usage</h2>

    <p>
      Sort lists, drag between lists. Won't let you drag items from/to other groups.
    </p>

    <section class="list-group">
      <article class="list">
        <h4>List without drag handles</h4>

        {{#drag-sort-list
          id            = "simple-1"
          items         = simple1
          group         = "simple"
          dragEndAction = (action "dragEnd")
          as |item|
        }}
          <div class="the-item">
            {{item.name}}
          </div>
        {{/drag-sort-list}}
      </article>

      <article class="list">
        <h4>List with drag handles</h4>

        {{#drag-sort-list
          id            = "simple-2"
          items         = simple2
          group         = "simple"
          handle        = ".handle"
          dragEndAction = (action "dragEnd")
          as |item|
        }}
          <div class="the-item">
            <span class="handle" draggable="true">☰</span>
            {{item.name}}
          </div>
        {{/drag-sort-list}}
      </article>
    </section>
  </div>



  <div class="list-group-wrapper">
    <h2>Async action</h2>

    <p>
      Uses async action, driven by <a href="http://ember-concurrency.com/">ember-concurrency</a>.

      See <a href="https://github.com/kaliber5/ember-drag-sort/blob/gen-1/tests/dummy/app/controllers/index.js#L158-L177">task source</a>.
    </p>

    <p>
      <label>
        {{input type="checkbox" checked=networkFailure}}
        Simulate network failure.
      </label>
    </p>


    <p>
      Status:

      {{#if dragEndTask.isRunning}}
        Updating...
      {{else if dragEndTask.last.error}}
        {{dragEndTask.last.error.message}}
      {{else}}
        Idle.
      {{/if}}
    </p>

    <section class="list-group">
      <article class="list">
        <h4>List 1</h4>

        {{#drag-sort-list
          id              = "async-1"
          items           = async1
          group           = "async"
          draggingEnabled = dragEndTask.isIdle
          dragEndAction   = (action (perform dragEndTask))
          as |item|
        }}
          <div class="the-item">
            {{item.name}}
          </div>
        {{/drag-sort-list}}
      </article>


      <article class="list">
        <h4>List 2</h4>

        {{#drag-sort-list
          id              = "async-2"
          items           = async2
          group           = "async"
          draggingEnabled = (not dragEndTask.isRunning)
          dragEndAction   = (action (perform dragEndTask))
          as |item|
        }}
          <div class="the-item">
            {{item.name}}
          </div>
        {{/drag-sort-list}}
      </article>
    </section>
  </div>



  <div class="list-group-wrapper">
    <h2>Unsortable list</h2>

    <p>
      Use `determineForeignPositionAction` to prevent user from rearranging a list, while still letting them drag in and out of the list
    </p>

    <section class="list-group">
      <article class="list">
        <h4>List 1 (always sorted alphabetically)</h4>

        {{#drag-sort-list
          id    = "foreign-1"
          items = foreign1
          group = "foreign"

          dragEndAction                  = (action "dragEnd")
          determineForeignPositionAction = (action "determineForeignPosition")
          as |item|
        }}
          <div class="the-item">
            {{item.name}}
          </div>
        {{/drag-sort-list}}
      </article>

      <article class="list">
        <h4>List 2 (sorted by user)</h4>

        {{#drag-sort-list
          id            = "foreign-2"
          items         = foreign2
          group         = "foreign"
          dragEndAction = (action "dragEnd")
          as |item|
        }}
          <div class="the-item">
            {{item.name}}
          </div>
        {{/drag-sort-list}}
      </article>
    </section>
  </div>



  <div class="list-group-wrapper">
    <h2>Create copies of items by dragging out, delete by dragging in</h2>

    <p>
      Drag out of source list to create copies of items. Drag back into the source list to remove copies. The source list can't be modified.
    </p>

    <section class="list-group">
      <article class="list">
        <h4>List 1 (source, always sorted alphabetically)</h4>

        {{#drag-sort-list
          id    = "copies-1"
          items = copies1
          group = "copies"

          dragEndAction                  = (action "dragEnd2")
          determineForeignPositionAction = (action "determineForeignPosition2")
          as |item|
        }}
          <div class="the-item">
            {{item.name}}
          </div>
        {{/drag-sort-list}}
      </article>

      <article class="list">
        <h4>List 2 (target, sorted by user)</h4>

        {{#drag-sort-list
          id            = "copies-2"
          items         = copies2
          group         = "copies"
          dragEndAction = (action "dragEnd2")
          as |item|
        }}
          <div class="the-item">
            {{item.name}}
          </div>
        {{/drag-sort-list}}
      </article>

      <article class="list">
        <h4>List 3 (target, sorted by user)</h4>

        {{#drag-sort-list
          id            = "copies-3"
          items         = copies3
          group         = "copies"
          dragEndAction = (action "dragEnd2")
          as |item|
        }}
          <div class="the-item">
            {{item.name}}
          </div>
        {{/drag-sort-list}}
      </article>
    </section>
  </div>



  <div class="list-group-wrapper">
    <h2>Source only list</h2>

    <p>
      Use `sourceOnly` to prevent the user from rearranging or dragging into the list.
      Effectively, it is marked as immutable, and only used as a source bucket for other lists.
    </p>

    <p>
      This example is similar to the previous one, except that the source list remains absolutely static.
    </p>

    <section class="list-group">
      <article class="list">
        <h4>Source list</h4>

        {{#drag-sort-list
          id            = "source-only-1"
          items         = sourceOnly1
          group         = "source-only"
          dragEndAction = (action "sourceOnlyDragEnd")
          sourceOnly    = true
          as |item|
        }}
          <div class="the-item">
            {{item.name}}
          </div>
        {{/drag-sort-list}}
      </article>

      <article class="list">
        <h4>Target list</h4>

        {{#drag-sort-list
          id            = "source-only-2"
          items         = sourceOnly2
          group         = "source-only"
          dragEndAction = (action "sourceOnlyDragEnd")
          as |item|
        }}
          <div class="the-item">
            {{item.name}}
          </div>
        {{/drag-sort-list}}
      </article>
    </section>
  </div>



  <div class="list-group-wrapper">
    <h2>Tables</h2>

    <p>
      ember-drag-sort uses a simple CSS technique to render the placeholder: `:before` and `:after` pseudoelements.
    </p>

    <p>
      Unfortunately, this doesn't work with HTML tables because table semantics are very restrictive. To work around this problem, top/bottom padding on table cells can be used instead of selectors.
    </p>

    <p>
      This is not a great solution because padding appears <em>inside</em> table cells. If you want your cells to have borders, you'll have to apply them to inner elements instead.
    </p>

    <p>
      See <a href="https://github.com/kaliber5/ember-drag-sort/blob/gen-0/tests/dummy/app/styles/app.css#L126-L159">style overrides of this demo.</a>
    </p>

    <section class="list-group">
      <article class="list">
        <h4>Table 1</h4>

        {{#drag-sort-list
          id            = "table-1"
          items         = table1
          tagName       = "table"
          childTagName  = "tr"
          group         = "table"
          dragEndAction = (action "dragEnd")
          as |item|
        }}
          <td>
            <div class="the-item">
              {{item.name}}
            </div>
          </td>
        {{/drag-sort-list}}
      </article>

      <article class="list">
        <h4>Table 2</h4>

        {{#drag-sort-list
          id            = "table-2"
          items         = table2
          tagName       = "table"
          childTagName  = "tr"
          group         = "table"
          dragEndAction = (action "dragEnd")
          as |item|
        }}
          <td>
            <div class="the-item">
              {{item.name}}
            </div>
          </td>
        {{/drag-sort-list}}
      </article>
    </section>
  </div>



  <div class="list-group-wrapper">
    <h2>Horizontal list</h2>

    <p>
      Set `isHorizontal=true` for a horizontal drag n drop. You can also drag between a horizontal list and a vertical.
    </p>

    <section class="list-group">
      <article class="horizontal-list list">
        <h4>List 1</h4>

        {{#drag-sort-list
          id            = "horizontal-1"
          items         = horizontal1
          group         = "horizontal"
          dragEndAction = (action "dragEnd")
          isHorizontal  = true
          as |item|
        }}
          <div class="the-item">
            {{item.name}}
          </div>
        {{/drag-sort-list}}
      </article>

      <article class="list">
        <h4>List 2</h4>

        {{#drag-sort-list
          id            = "horizontal-2"
          items         = horizontal2
          group         = "horizontal"
          dragEndAction = (action "dragEnd")
          as |item|
        }}
          <div class="the-item">
            {{item.name}}
          </div>
        {{/drag-sort-list}}
      </article>
    </section>
  </div>

  <div class="list-group-wrapper">
    <h2>Horizontal list wwith RTL</h2>

    <p>
      Use `isRtl=true` if you're using a language which is read right to left. Has no effect on vertical lists.
    </p>

    <section class="list-group list-groups">
      <article class="horizontal-list list">
        {{#drag-sort-list
          id            = "rtl"
          items         = rtl
          group         = "rtl"
          dragEndAction = (action "dragEnd")
          isHorizontal  = true
          isRtl         = true
          as |item|
        }}
          <div class="the-item">
            {{item.name}}
          </div>
        {{/drag-sort-list}}
      </article>
    </section>
  </div>
</div>



<div class="list-groups">
  <div class="list-group-wrapper">
    <h2>Nested list</h2>

    <p>
      See
      <a href="https://github.com/kaliber5/ember-drag-sort/blob/gen-0/tests/dummy/app/templates/components/nested-item.hbs">
        {{~concat~}}
        component template source
        {{~concat~}}
      </a>.
    </p>

    {{nested-item
      id            = "nested"
      item          = nestedItem
      group         = "nested"
      dragEndAction = (action "dragEnd")
    }}

    <p>Warning: Nested lists doesn't work well with horizontal lists.</p>
  </div>
</div>
